body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cell{
    border: 1px solid green;
    display: flex;
    width: 60px;
    height: 60px;
}
.grid-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display: inline-flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    gap: 0px;
    justify-items:center;
    align-items: center;
    background-color:antiquewhite;
    flex-direction: column-reverse;
}

.player{
    width: 55px;
    height: 55px;
    background-image: url("../Assets/29-duck-png-image.png");
    background-size: cover;
    transition:linear;
    transition-duration: 0.5s;
}
.obstacle{
    width: 55px;
    height: 55px;
    background-color: green;
    background-size: cover;
}