body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dbdbd3;
}
.cell{
    display: flex;
    width: 60px;
    height: 60px;
}
.grid-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display: inline-flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    padding: 0px;
    margin: 0px;
    gap: 0px;
    justify-items:center;
    align-items: center;
    background-image: url("https://raw.githubusercontent.com/codedex-io/projects/main/projects/build-a-flappy-bird-clone-with-phaser/background_and_road.png");
    background-size: cover;
    border: 5px solid black;
    flex-direction: column-reverse;
}

.player{
    width: 55px;
    height: 55px;
    background-image: url("../Assets/bird1.png");
    background-size: cover;
    transition: 0.5s ease-in-out;
}
.obstacle{
    width: 55px;
    height: 55px;
    background-color: green;
    background-size: cover;
}
button, select, option{
    margin: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: 4px solid #333;
    background-color: #f0f0f0;
}
h1{
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
h2{
    text-align: center;
}

#UI-down{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




/* https://www.w3schools.com/howto/howto_js_popup.asp */
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: large;
  padding: 5px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -129px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}